
@import '{reywood:bootstrap3-sass}/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

$font-stack:    'Open Sans', Helvetica, sans-serif;
$primary-color: #333;

$border: 		1px solid #f0f4f7;

$green:			#62cb31;

$sidebar-width: 200px;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius !important;
	-moz-border-radius: $radius !important;
	-ms-border-radius: $radius !important;
	border-radius: $radius !important;
}

body {
	font: 100% $font-stack;
	font-size: 14px;
	color: $primary-color;
	padding-top: 50px;
}

.menu {
	border-bottom: $border;
}

.navbar {
	padding-right: 15px;
}

.navbar-brand {
	margin-right: 10px;
}

.navbar-form {
	margin-top: 0;
	padding: 0;
	margin-left: $sidebar-width;
}

.navbar-search {
	height: 50px;
	width: 20em;
	border: none;
	border-left: $border;
	padding-left: 25px;
}

.navbar-fixed-top {
	border: 0;
}

.sidebar {
	padding: 0;
	width: $sidebar-width;
}

@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		margin: 0 1px;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		overflow-x: hidden;
		overflow-y: auto;
		border-right: $border;
	}
}

.profile {
	padding: 20px 0;
	margin: 0;
}

.profile-account {

	.green {
		color: $green;
	}

}

.profile-sidebar {
	padding: 20px 0 10px 0;
	background: #fff;
}

.profile-userpic img {
	float: none;
	margin: 0 auto;
	width: 50%;
	height: 50%;
	@include border-radius(50%);
}

.profile-usertitle {
	text-align: center;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: $border;
}

.profile-usertitle-name {
	margin-bottom: 10px;
}

.profile-usermenu {
	
	margin-top: 30px;
	
	ul li {
		border-bottom: $border;

		a {
			color: #93a3b5;
			font-size: 14px;
			font-weight: 400;

			i {
				margin-right: 8px;
				font-size: 14px;
			}
		}

		a:hover {
			background-color: #fafcfd;
			color: #5b9bd1;
		}
	}

	ul li:last-child {
		border-bottom: none;
	}

	ul li.active {
		border-bottom: none;
	}
}

.profile-usermenu ul li.active a {
	color: #5b9bd1;
	background-color: #f6f9fb;
	border-left: 2px solid #5b9bd1;
	margin-left: -2px;
}