
@import '{reywood:bootstrap3-sass}/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

$font-stack:    'Open Sans', Helvetica, sans-serif;
$primary-color: #333;

$border: 		1px solid #F0F4F7;

$green:			#62CB31;
$soft-green:	#F1FBEE;
$soft-dark:		#F1F3F6;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius !important;
	-moz-border-radius: $radius !important;
	-ms-border-radius: $radius !important;
	border-radius: $radius !important;
}

body {
	font: 100% $font-stack;
	font-size: 14px;
	color: $primary-color;
	padding-top: 50px;

	h1 h2 h3 h4 {
		font-weight: 300;
	}

	h5 h6 {
		font-weight: 600;
		text-transform: uppercase;
	}

	p {
		font-size: 12px;
		font-weight: 400;
	}

	.green {
		color: $green;
	}

}

