<template name="navMenu">

	<nav class="navbar navbar-fixed-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Expadir menu</span>
				<span class="icon-bar">Home</span>
				<span class="icon-bar">Configurações</span>
				<span class="icon-bar">Sair</span>
			</button>
			<a href="#" class="navbar-brand">Verdant Broccoli</a>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">home</a></li>
				<li><a href="#">configurações</a></li>
				<li><a href="#">Sair</a></li>
			</ul>

			<form class="navbar-form">
				<input type="text" class="navbar-search" placeholder="buscar...">
			</form>
		</div>
	</nav>
</template>