<template name="userSidebar">
	<div class="row profile">
		<div class="profile-userpic">
			<img src="https://www.morganstanley.com/assets/images/people/tiles/michael-asmar.jpg" class="img-responsive" alt="">
		</div>

		<div class="profile-usertitle">
			<div class="profile-usertitle-name">
				João da Silva
			</div>
		</div>

		<div class="profile-menu">
			<ul class="nav">
				<li class="active">
					<a href="#"><i class="glyphicon glyphicon-home"></i> Principal</a>
				</li>

				<li class="">
					<a href="#"><i class="glyphicon glyphicon-user"></i> Configurações</a>
				</li>
			</ul>
		</div>
	</div>
</template>