<template name="accountCard">

	<div class="card">
		<h4 class="text-center">HSBC</h4>
		
		<div class="saldo">
			<h4>saldo: <span class="green"> + R$ 1200,00</span></h4>
		</div>

		<div class="movimentacoa">
			<h5>Últimas movimentações:</h5>

			<table class="table table-condensed table-striped">
				<thead>
					<td class="col-md-3"></td>
					<td class="col-md-3"></td>
					<td class="col-md-6"></td>
				</thead>
				<tr>
					<td><p>12/03/2016</p></td>
					<td><p>R$ -120,00</p></td>
					<td><p>saque caixa eletronico</p></td>
				</tr>
				<tr>
					<td><p>10/03/2016</p></td>
					<td><p>R$ -1200,00</p></td>
					<td><p>pagamento da fatura do cartão</p></td>
				</tr>
				<tr>
					<td><p>10/03/2016</p></td>
					<td><p>R$ -120,00</p></td>
					<td><p>pagamento conta de luz</p></td>
				</tr>
			</table>
		</div>
	</div>
		
</template>