<template name="accountCard">

	<div class="container-fluid card">
		
		<div class="header">
			<h4>HSBC</h4>
			<h4><strong class="green">+ R$ 1200,00</strong></h4>
		</div>

		<div class="detail">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<p>Últimas movimentações:</p>
					</tr>
				</thead>
				<tr>
					<h4><strong>R$ -120,00</strong><h5 class="pull-right"><small>12/03/2016</small></h5></h4>
					<p>saque caixa eletronico</p>
				</tr>
				<tr>
					<h4><strong>R$ -120,00</strong><h5 class="pull-right"><small>10/03/2016</small></h5></h4>
					<p>pagamento da fatura do cartão</p>
				</tr>
				<tr>
					<h4><strong>R$ -120,00</strong><h5 class="pull-right"><small>09/03/2016</small></h5></h4>
					<p>pagamento conta de luz</p>
				</tr>
			</table>
		</div>
	</div>
		
</template>